# Before running, change the volume throughout this file

# To backup the volume:
  # docker compose run backup && docker compose rm -fv
# To restore a volume:
  # docker compose run restore && docker compose rm -fv
# To bypass the command and enter container for debugging:
  # docker compose run backup sh && docker compose rm -fv

---
volumes:
  frigate-db:
    name: frigate-db
    external: true

services:
  backup:
    image: alpine
    volumes:
      - frigate-db:/volume
      - ${central_storage_location}/container-backups/manual:/backup
    command: sh -c "mkdir -p /backup/frigate-db && cd /volume && tar -cvf /backup/frigate-db/$$(date '+%Y-%m-%d-%H%M').tar ."

  restore:
    image: alpine
    volumes:
      - frigate-db:/volume
      - ${central_storage_location}/container-backups/manual:/backup
    command: sh -c "tar xvf $$(ls -t /backup/frigate-db/* | head -1) -C /volume"
