---
volumes:
  portainer:
    name: portainer

services:
  containers:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    privileged: true # Only required because selinux (:z doesn't work)
    network_mode: bridge
    ports:
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - portainer:/data
