---
networks:
  internal:
    internal: true

services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:v3.2.1
    networks: [internal]
    ports:
      - 9001:9000
    volumes:
      - ${central_storage_location}/apps/mealie/app:/app/data/
    environment:
      BASE_URL: https://recipes.${DOMAIN}
      TOKEN_TIME: 4
      MAX_WORKERS: 4
      ALLOW_SIGNUP: "false"
      PUID: ${remote_storage_user}
      TZ: ${TZ}
      WEB_CONCURRENCY: 1
      DB_ENGINE: postgres
      POSTGRES_SERVER: db
      POSTGRES_DB: mealie
      POSTGRES_USER: mealie
      POSTGRES_PASSWORD: ${MEALIE_DB_PASSWORD}
    depends_on:
      - db
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        max_attempts: 5

  db:
    image: postgres:15
    networks: [internal]
    user: "${remote_storage_user}"
    volumes:
      - ${central_storage_location}/apps/mealie/db:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: mealie
      POSTGRES_USER: mealie
      POSTGRES_PASSWORD: ${MEALIE_DB_PASSWORD}
    healthcheck:
      test: pg_isready -U $$POSTGRES_USER
      interval: 30s
      timeout: 20s
      retries: 3
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        max_attempts: 5
