---
volumes:
  frigate-db-dev:
    name: frigate-db-dev

networks:
  internal-iot-vlan:
    name: ${iot_net_name}
    driver: macvlan
    driver_opts:
      parent: containers.${iot_net_vlan}
    ipam:
      driver: default
      config:
        - subnet: ${iot_net_subnet}
          gateway: ${iot_net_gateway}

services:
  frigate-dev:
    image: ghcr.io/blakeblackshear/frigate:0.16.1
    container_name: frigate-dev
    restart: unless-stopped
    # https://docs.frigate.video/configuration/hardware_acceleration_video/#configuring-intel-gpu-stats-in-docker
    # Run privileged to allow access to iGPU metrics (the kernel.perf_event_paranoid setting did not fix this)
    privileged: true
    security_opt: [no-new-privileges:true]
    shm_size: 512m
    tmpfs: /tmp/cache:size=500m # reduces SSD/SD Card wear
    devices:
      # - /dev/apex_0 # Use PCI Coral TPU for object detection
      - /dev/dri/renderD128 # Use Intel iGPU for video decoding
    volumes:
      - ${central_storage_location}/frigate-dev/config.yml:/config/config.yml
      - ${central_storage_location}/frigate-dev:/media/frigate
      - frigate-db-dev:/db
    networks:
      internal-iot-vlan:
        ipv4_address: ${frigate_dev_ip}
    environment:
      TZ: ${TZ}
      FRIGATE_RTSP_PASSWORD: ${frigate_rtsp_password}
      FRIGATE_MQTT_USER: frigate
      FRIGATE_MQTT_PASSWORD: ${frigate_mqtt_password}
