---
- name: "Zincati - Set update wariness"
  ansible.builtin.copy:
    content: |
      [identity]
      rollout_wariness = 0.5
    dest: "/etc/zincati/config.d/51-rollout-wariness.toml"
    mode: "0644"

- name: "Check if zincati update strategy file exists"
  ansible.builtin.stat:
    path: "/etc/zincati/config.d/55-updates-strategy.toml"
  register: container_host_zincati_update_strategy_file

# Set update time to be between 7am and 2pm UTC on Saturdays (15 is exclusive)
- name: "Zincati - Set update strategy"
  ansible.builtin.copy:
    content: |
      [updates]
      strategy = "periodic"
      [[updates.periodic.window]]
      days = [ "Sat" ]
        start_time = "{{ '%02d:00' | format(15 | random(start=7)) }}"
        length_minutes = 60
    dest: "/etc/zincati/config.d/55-updates-strategy.toml"
    mode: "0644"
  when: not container_host_zincati_update_strategy_file.stat.exists

- name: "Force lower screen resolution to play nicely with vPro/AMT KVM"
  ansible.builtin.command:
    cmd: "rpm-ostree kargs --unchanged-exit-77 --append-if-missing=video=1280x720"
  changed_when: container_host_set_kargs.rc == 0
  failed_when: container_host_set_kargs.rc not in [0, 77]
  register: container_host_set_kargs
  when: ansible_facts['system_vendor'] | lower != 'qemu'

# https://github.com/coreos/fedora-coreos-tracker/issues/1824
# Raspberry Pi 4s running on SD card are TOO SLOW for some ostree operations :(
- name: "Create ostree-finalize-staged.service.d directory to add increased timeout dropin"
  ansible.builtin.file:
    mode: "0755"
    path: "/etc/systemd/system/ostree-finalize-staged.service.d"
    state: "directory"

- name: "Add increased timeout dropin for ostree-finalize-staged.service"
  ansible.builtin.copy:
    content: |
      [Service]
      TimeoutStopSec=15m
    dest: "/etc/systemd/system/ostree-finalize-staged.service.d/timeout.conf"
    mode: "0644"

# This should be taken care of in main.yml once I figure out how to reboot only if coreos
- name: "Install rpm-ostree packages"
  community.general.rpm_ostree_pkg:
    name:
      - "autofs"
      - "bmon"
      - "htop"
      - "iftop"
      - "{{ 'lm_sensors' if ansible_facts['system_vendor'] | lower != 'qemu' else '' }}"
      - "samba-client"
      # RPM Fusion repos - Only useful for Nvidia drivers
      # - "https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-{{ ansible_distribution_major_version }}.noarch.rpm"
      # - "https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-{{ ansible_distribution_major_version }}.noarch.rpm"
  notify: "Reboot Server"

- name: "Create lm_sensors config file to expose more hardware to monitoring tools"
  ansible.builtin.copy:
    content: |
      # This file is sourced by /etc/init.d/lm_sensors and defines the modules to
      # be loaded/unloaded.
      #
      # The format of this file is a shell script that simply defines variables:
      # HWMON_MODULES for hardware monitoring driver modules, and optionally
      # BUS_MODULES for any required bus driver module (for example for I2C or SPI).

      HWMON_MODULES="coretemp nct6775"
    dest: "/etc/sysconfig/lm_sensors"
    mode: "0644"
  when: ansible_facts['system_vendor'] == 'Micro Computer (HK) Tech Limited'

- name: "Run handlers"
  ansible.builtin.meta: flush_handlers
...
