---
- name: "Add Docker repository to APT"
  ansible.builtin.deb822_repository:
    architectures: "amd64"
    components: "stable"
    name: "docker"
    suites: "{{ ansible_facts['distribution_release'] }}"
    signed_by: "https://download.docker.com/linux/{{ ansible_facts.distribution | lower }}/gpg"
    types: "deb"
    uris: "https://download.docker.com/linux/{{ ansible_facts.distribution | lower }}"
  when: ansible_facts['pkg_mgr'] == 'apt'

- name: "Add Docker repository to DNF"
  ansible.builtin.yum_repository:
    name: "docker-ce"
    description: "Docker CE Stable - $basearch"
    baseurl: "https://download.docker.com/linux/{{ ansible_facts.distribution | lower }}/$releasever/$basearch/stable"
    gpgcheck: true
    gpgkey: "https://download.docker.com/linux/{{ ansible_facts.distribution | lower }}/gpg"
    enabled: true
  when: ansible_facts['pkg_mgr'] == "dnf"

- name: "Install Docker"
  ansible.builtin.package:
    name: "docker-ce"
    state: "present"
    update_cache: true
  when: ansible_facts['pkg_mgr'] != 'atomic_container'

- name: "Configure Docker daemon"
  ansible.builtin.template:
    src: "templates/dockerdaemon.json.j2"
    dest: "/etc/docker/daemon.json"
    mode: "0644"
  when: ansible_facts['pkg_mgr'] != 'atomic_container'

- name: "Start and enable Docker daemon"
  ansible.builtin.systemd:
    name: "docker"
    enabled: true
    state: "started"
    masked: false

- name: "Add user to docker group: {{ admin_user_name }}"
  ansible.builtin.user:
    append: true
    groups: "docker"
    name: "{{ admin_user_name }}"

- name: "Install Docker Plugins specifically for CoreOS systems"
  when: ansible_facts['pkg_mgr'] == 'atomic_container'
  block:
    - name: "Create Docker plugin directory"
      ansible.builtin.file:
        path: "/usr/local/lib/docker/cli-plugins/"
        state: "directory"
        mode: "0755"

    - name: "Install Docker Compose v2 plugin"
      ansible.builtin.get_url:
        url: "https://github.com/docker/compose/releases/download/v2.40.3/docker-compose-linux-{{ ansible_facts.architecture }}"
        dest: "/usr/local/lib/docker/cli-plugins/docker-compose"
        mode: "0755"
        checksum: >-
          {%- if ansible_facts.architecture == 'aarch64' -%}
            sha256:d26373b19e89160546d15407516cc59f453030d9bc5b43ba7faf16f7b4980137
          {%- else -%}
            sha256:dba9d98e1ba5bfe11d88c99b9bd32fc4a0624a30fafe68eea34d61a3e42fd372
          {%- endif -%}

    - name: "Install Docker Buildx plugin"
      ansible.builtin.get_url:
        url: "https://github.com/docker/buildx/releases/download/v0.30.0/buildx-v0.30.0.linux-{{ 'arm64' if ansible_facts.architecture == 'aarch64' else 'amd64' }}"
        dest: "/usr/local/lib/docker/cli-plugins/docker-buildx"
        mode: "0755"
        checksum: >-
          {%- if ansible_facts.architecture == 'aarch64' -%}
            sha256:f8e060a1a1e659d1c919d440652775320e8c2998b051eb4b5845bfcee9d85696
          {%- else -%}
            sha256:460680948a25b80e62ffe085cd2d7ef4088540f3f3f58734b445a31534198240
          {%- endif -%}
...
