---
#############################################################
# Import other task lists
- name: Import the tasks specific to Fedora CoreOS
  ansible.builtin.import_tasks: coreos.yml
  when:
    - ansible_facts['os_family'] | lower == 'redhat'
    - ansible_facts['pkg_mgr'] | lower == 'atomic_container'

- name: Import the tasks specific to Docker
  ansible.builtin.import_tasks: docker.yml

- name: Import the tasks specific to networking
  ansible.builtin.import_tasks: networking.yml

# Disabled until it can be scoped down to only hosts that contain a GPU
- name: Import the tasks specific to Fedora CoreOS
  tags: "never"
  ansible.builtin.import_tasks: nvidia_gpu.yml
#############################################################

- name: "QEMU-GA - Create unit for qemu-guest-agent"
  ansible.builtin.copy:
    content: |
      [Unit]
      Description=QEMU Guest Agent
      After=network-online.target
      Wants=network-online.target
      ConditionVirtualization=kvm

      [Service]
      ExecStartPre=docker rm -fv qemu-ga
      ExecStart=docker run --name qemu-ga --privileged --net=host -v /dev:/dev -v /etc/os-release:/etc/os-release:ro docker.io/danskadra/qemu-ga qemu-ga

      [Install]
      WantedBy=multi-user.target
    dest: "/etc/systemd/system/qemu-ga.service"
    mode: "0644"
  when:
    - ansible_facts['pkg_mgr'] | lower == 'atomic_container'
    - ansible_system_vendor | lower == 'qemu'

- name: "QEMU-GA - Start QEMU Guest Agent"
  ansible.builtin.systemd_service:
    name: "qemu-ga.service"
    state: "started"
    enabled: true
  when:
    - ansible_facts['pkg_mgr'] | lower == 'atomic_container'
    - ansible_system_vendor | lower == 'qemu'

- name: "AutoFS - Create creds directory"
  ansible.builtin.file:
    group: "root"
    mode: "0600"
    owner: "root"
    path: "/etc/creds"
    state: "directory"

- name: "AutoFS - Create cred files for CIFS mounts"
  ansible.builtin.copy:
    content: |
      username={{ remote_storage_user }}
      password={{ remote_storage_password }}
    dest: "/etc/creds/{{ remote_storage_server }}"
    mode: "0600"
  register: cifs_cred_file

# This is mostly for postgres startup file permission check compatibility
- name: "AutoFS - Modify /etc/auto.smb with specific UID, GID, and file/dir modes"
  ansible.builtin.replace:
    path: /etc/auto.smb
    regexp: '^(\s*)opts=.*\$UID.*credentials=.*$'
    replace: |
      \1# Modified by Ansible: set uid, gid, file_mode, dir_mode
      \1opts="$opts"',uid={{ admin_user_uid }},gid={{ admin_user_uid }},file_mode=0750,dir_mode=0750,credentials='"$creds"
  register: custom_auto_smb

- name: "AutoFS - Copy cifs automount mapping"
  ansible.builtin.copy:
    content: |
      # CIFS automounting
      /mnt/cifs  /etc/auto.smb  --timeout=300
    dest: "/etc/auto.master.d/cifs.autofs"
    mode: "0644"
  register: autofs_cifs

- name: "AutoFS - Enable and start the service"
  ansible.builtin.systemd_service:
    enabled: true
    name: "autofs.service"
    state: "{{ 'reloaded' if cifs_cred_file.changed or custom_auto_smb.changed or autofs_cifs.changed else 'started' }}"
...
