---
services:
  dashy:
    image: ghcr.io/lissy93/dashy:latest
    container_name: dashy
    restart: unless-stopped
    privileged: false
    security_opt: [no-new-privileges:true]
    environment:
      NODE_ENV: production
      UID: ${remote_storage_user}
      GID: ${remote_storage_user}
    volumes:
      - ${central_storage_location}/apps/dashy/conf.yml:/app/user-data/conf.yml
      - ${central_storage_location}/apps/dashy/icons:/app/user-data/item-icons
      - ${central_storage_location}/apps/dashy/JetBrainsMono-Regular.ttf:/app/user-data/fonts/JetBrainsMono-Regular.ttf
    network_mode: bridge
    ports:
      - 8081:8080
    healthcheck:
      test: ['CMD', 'node', '/app/services/healthcheck']
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 10s
