<?xml version="1.0" encoding="utf-8"?>
    <packages>       
        <!-- START - WINDOWS FEATURES -->
        <!-- Get-WindowsOptionalFeature -online | ft -->
        <!-- NetFx3 requires installation files in order to install!! -->
        <!-- <package id="NetFx3" source="windowsfeatures" /> -->
        <package id="Client-ProjFS" source="windowsfeatures" />
        <package id="NetFx4Extended-ASPNET45" source="windowsfeatures" />
        <package id="TelnetClient" source="windowsfeatures" />
        <package id="Microsoft-Windows-Subsystem-Linux" source="windowsfeatures" />
        <package id="HypervisorPlatform" source="windowsfeatures" />
        <package id="VirtualMachinePlatform" source="windowsfeatures" />
        <package id="Containers-DisposableClientVM" source="windowsfeatures" />
        <package id="Microsoft-Hyper-V-All" source="windowsfeatures" />
        <package id="ServicesForNFS-ClientOnly" source="windowsfeatures" />
        <package id="ClientForNFS-Infrastructure" source="windowsfeatures" />
        <package id="Containers" source="windowsfeatures" />
        <!-- END - WINDOWS FEATURES -->

        <!-- START - GENERAL APPS -->
        <package id="7zip.install"/>
        <package id="brave"/>
        <package id="caffeine"/>
        <package id="firefox" />
        <package id="git.install" packageParameters="/NoShellIntegration /WindowsTerminal /NoOpenSSH /Editor:VisualStudioCode"/>
        <package id="googlechrome" />
        <package id="jetbrainstoolbox" />
        <package id="mac-precision-touchpad" />
        <package id="microsoft-windows-terminal" />
        <package id="notepadplusplus.install" />
        <package id="obs-studio.install" />
        <package id="powershell-core" />
        <package id="python3" />
        <package id="rdmfree" />
        <package id="softerraldapbrowser" />
        <package id="spotify" />
        <package id="vscode.install" />
        <!-- END - GENERAL APPS -->
        
        <!-- START - PERSONAL APPS -->
        <package id="bitwarden"/>
        <package id="discord.install"/>
        <package id="irfanview" />
        <package id="paint.net" />
        <package id="plex" />
        <package id="protonvpn" />
        <package id="veracrypt" />
        <package id="vlc.install" />
        <package id="wireguard"/>
        <!-- END - PERSONAL APPS -->
    </packages>