---
networks:
  external-bridge:
    name: external-bridge
    external: true
  internal-nextcloud:
    name: internal-nextcloud
    internal: true

volumes:
  nextcloud-redis:
    name: nextcloud-redis

services:
  nextcloud:
    image: nextcloud:31.0.9-apache
    container_name: nextcloud
    restart: unless-stopped
    privileged: false
    security_opt: [no-new-privileges:true]
    user: "${remote_storage_user}"
    networks: [external-bridge, internal-nextcloud]
    ports:
      - 8083:80
    volumes:
      - ${central_storage_location}/apps/nextcloud/app:/var/www/html
      - ${central_storage_location}/apps/nextcloud/data:/var/www/html/data
      - ${central_storage_location}/apps/nextcloud/redis-session.ini:/usr/local/etc/php/conf.d/redis-session.ini
      - ${central_storage_location}/apps/nextcloud/remoteip.conf:/etc/apache2/conf-enabled/remoteip.conf:ro
      - ${central_storage_location}/container-backups/nextcloud:/backups
    environment:
      NEXTCLOUD_TRUSTED_DOMAINS: drive.${DOMAIN}
      OVERWRITEPROTOCOL: https
      # https://github.com/nextcloud/docker/issues/1494
      # APACHE_DISABLE_REWRITE_IP: 1
      # trusted proxies only needs declared once during config.php population (set to the reverse proxy IP)
      # TRUSTED_PROXIES: x.x.x.x
      PHP_UPLOAD_LIMIT: 512M
      REDIS_HOST: nextcloud-redis
      POSTGRES_HOST: nextcloud-db
      POSTGRES_DB: nextcloud
      POSTGRES_USER: ${nextcloud_pg_user}
      POSTGRES_PASSWORD: ${nextcloud_pg_pass}
      NEXTCLOUD_ADMIN_PASSWORD: ${nextcloud_admin_password}
      NEXTCLOUD_ADMIN_USER: ${nextcloud_admin_user}
      NEXTCLOUD_DATADIR: /var/www/html/data
    links:
      - nextcloud-db
      - nextcloud-redis
    depends_on:
      - nextcloud-db
      - nextcloud-redis

  # Upgrade postgres database (database name = nextcloud)
  # pg_dumpall -U ${nextcloud_pg_user} > /backup/dump.sql
  # psql -U ${nextcloud_pg_user} -f /backup/dump.sql nextcloud
  nextcloud-db:
    image: postgres:16
    container_name: nextcloud-db
    restart: unless-stopped
    privileged: false
    security_opt: [no-new-privileges:true]
    user: "${remote_storage_user}"
    networks: [internal-nextcloud]
    volumes:
      - ${central_storage_location}/apps/nextcloud/db:/var/lib/postgresql/data
      - ${central_storage_location}/container-backups/nextcloud:/backup
    environment:
      POSTGRES_DB: nextcloud
      POSTGRES_USER: ${nextcloud_pg_user}
      POSTGRES_PASSWORD: ${nextcloud_pg_pass}
    healthcheck:
      test: pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB
      interval: 30s
      timeout: 20s
      retries: 3

  # WOPI feature check: https://collabora.$DOMAIN/hosting/discovery
  # Admin interface: https://collabora.$DOMAIN/browser/dist/admin/admin.html
  collabora:
    image: collabora/code:25.04.5.2.1
    container_name: collabora
    restart: unless-stopped
    cap_add:
      - MKNOD
    networks: [external-bridge]
    ports:
      - 9980:9980
    environment:
      domain: drive.${DOMAIN}
      extra_params: "--o:ssl.enable=false --o:ssl.termination=true"
      dictionaries: en_US
      DONT_GEN_SSL_CERT: true
      #username: admin
      #password: admin

  nextcloud-redis:
    image: redis:7-alpine
    container_name: nextcloud-redis
    hostname: nextcloud-redis
    restart: unless-stopped
    networks: [internal-nextcloud]
    volumes:
      - nextcloud-redis:/data
